@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */

*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
}


/*--------------------------------------------NAVBAR Start------------------------------------- */


.navbar {
  position: fixed;
  left: 0;
  right: 0;
  box-shadow: 0px 5px 10px 0px #aaa;
  background: rgb(113, 140, 118);
  color: #000;
  opacity: 0.9;
  z-index: 100;

}


.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 65px;
  align-items: center;
  width: 100%;
}

.menu-items {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;

}

.imglogo {
  width: 60px;
  border-radius: 50%;
  margin-top: 5px;

}

.menu-items li {
  list-style: none;
  margin-left: 4rem;
  font-size: 1.3rem;


}

.navbar a {
  color: rgb(10, 33, 23);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
  font-size: 15px;
}

.header_username {
  margin-top: 3px;
  color: rgb(15, 23, 7);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
  font-size: 20px;
}


.navbar a:hover {
  color: #314b04;
}

/* ==========================OTHER====================== */

/* a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
} */

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: rgb(10, 33, 23);
}

/* h4 {
  text-align: center;
  font-weight: 500;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: rgb(10, 33, 23);
} */


/* ----------------------LOGIN and SIGN UP start-----------------------*/

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

input[type=button],
input[type=submit],
input[type=reset] {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #39ace7;
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text],
[type=date],
input[type=file] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus,
input[type=file]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder,
input[type=file]:placeholder {
  color: #cccccc;
}

input[type=password],
[type=date] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=password]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=password]:placeholder {
  color: #cccccc;
}

input[type=date]:placeholder {
  color: #cccccc;
}

/* ------------------------------Search--------------------------------*/

.input_search {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 60%;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
}

.input_search:focus {
  border-bottom: 2px solid #5fbae9;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* @-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
} */

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.fifth {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.fadeIn.sixth {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.seventh {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fadeIn.eight {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #41545d;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}



/* OTHERS */

*:focus {
  outline: none;
}

#icon {
  width: 30%;
}

/* * {
  box-sizing: border-box;
} */



/* -------------------------------FOOTER------------------------------------- */



.footer-distributed {
  background: rgb(113, 140, 118);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 60px;

}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: rgb(10, 33, 23);
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}


.footer-distributed .footer-center p {
  display: inline-block;
  color: rgb(10, 33, 23);
  font-weight: 400;
  vertical-align: middle;
  margin-bottom: 24px;
}

.footer-distributed .footer-center p span {
  display: block;
  font-size: 14px;
  line-height: 2;
  font-weight: bold;
}

.footer-distributed .footer-center p a {
  color: rgb(23, 26, 24);
  text-decoration: none;
  ;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #d5dce2;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 8px;
}

.logo {
  width: 30%;
  border-radius: 50%;
  margin-bottom: 40px;
}


/* @media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

} */

/* -------------------------------------LINE--------------------------------------- */

.home_line {
  position: relative;
  width: 550px;
  height: 130px;
  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  box-shadow: 20px 20px rgba(0, 0, 0, .15);
  transition: all .4s ease;
  background-color: rgb(113, 140, 118);
  color: rgb(10, 33, 23);
  text-align: center;
  margin: 100px auto 0;
  padding: 20px 60px;
  font-size: 30px;
  opacity: 0.9;

}

.home_line:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
  box-shadow: 10px 10px rgba(0, 0, 0, .25);
}

*/
/* -------------------------------------SEARCH -------------------------*/



button,
input {
  font: 1em Hind, sans-serif;
  line-height: 1.5em;
}

input {
  color: rgb(113, 140, 118);
}

.search-bar {
  display: flex;
}

/* body {
  background: #f1f1f1;
  height: 100vh;
} */

.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
  transition: all 0.25s ease-out;
}

.search-bar input,
.search-btn {
  width: 3em;
  height: 3em;
}

.search-bar input:invalid:not(:focus),
.search-btn {
  cursor: pointer;
}

.search-bar,
.search-bar input:focus,
.search-bar input:valid {
  width: 100%;
}

.search-bar input:focus,
.search-bar input:not(:focus)+.search-btn:focus {
  outline: transparent;
}

.search-bar {
  margin: auto;
  padding: 1.5em;
  justify-content: center;
  max-width: 30em;
}

.search-bar input {
  background: transparent;
  border-radius: 1.5em;
  box-shadow: 0 0 0 0.4em #171717 inset;
  padding: 0.75em;
  transform: translate(0.5em, 0.5em) scale(0.5);
  transform-origin: 100% 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-bar input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.search-bar input:focus,
.search-bar input:valid {
  background: #fff;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #d9d9d9 inset;
  transform: scale(1);
}

.search-btn {
  background: #171717;
  border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
  padding: 0.75em;
  position: relative;
  transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
  transform-origin: 0 50%;
}

.search-btn:before,
.search-btn:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
}

.search-btn:before {
  border-radius: 50%;
  box-shadow: 0 0 0 0.2em #f1f1f1 inset;
  top: 0.75em;
  left: 0.75em;
  width: 1.2em;
  height: 1.2em;
}

.search-btn:after {
  background: #f1f1f1;
  border-radius: 0 0.25em 0.25em 0;
  top: 51%;
  left: 51%;
  width: 0.75em;
  height: 0.25em;
  transform: translate(0.2em, 0) rotate(45deg);
  transform-origin: 0 50%;
}

.search-btn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* Active state */
.search-bar input:focus+.search-btn,
.search-bar input:valid+.search-btn {
  background: rgb(113, 140, 118);
  border-radius: 0 0.375em 0.375em 0;
  transform: scale(1);
}

.search-bar input:focus+.search-btn:before,
.search-bar input:focus+.search-btn:after,
.search-bar input:valid+.search-btn:before,
.search-bar input:valid+.search-btn:after {
  opacity: 1;
}

.search-bar input:focus+.search-btn:hover,
.search-bar input:valid+.search-btn:hover,
.search-bar input:valid:not(:focus)+.search-btn:focus {
  background: rgb(113, 140, 118);
}

.search-bar input:focus+.search-btn:active,
.search-bar input:valid+.search-btn:active {
  transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {

  body,
  input {
    color: #f1f1f1;
  }

  body {
    background: #171717;
  }

  .search-bar input {
    box-shadow: 0 0 0 0.4em #f1f1f1 inset;
  }

  .search-bar input:focus,
  .search-bar input:valid {
    background: #3d3d3d;
    box-shadow: 0 0 0 0.1em #3d3d3d inset;
  }

  .search-btn {
    background: #f1f1f1;
  }
}



/* ------------------------------------------Cards main--------------------------------------*/


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  margin: 4rem 4rem;
  padding: 0;
}

.card {
  border-radius: 15px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: white;
  transform: translateY(100%);
  transition: .2s ease-in-out;
  -webkit-border-radius: 10px;
  opacity: 0.97;

}

.card:hover .card__overlay {
  transform: translateY(0);

}

.card:hover .card__header {
  transform: translateY(0);
}

#card {

  background: rgb(245, 245, 245, 0.7);
  width: 300px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transition: 0.3s
}

#card:hover {
  transition: 0.3s;
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2), -8px -8px 16px 0 rgba(0, 0, 0, 0.2);
}

#card img {
  object-fit: cover;
  animation: fadeIn 1s;
  height: 400px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  transition: 0.3s;
}

#content {

  padding: 1vh 1vw 1vh 2vw;
  font-size: 1.2rem;
  font-family: Arial;
  color: rgb(10, 33, 23);
  font-weight: 700;

}


#content ol {
  padding: 2vh 1vw 2vh 2vw;
  font-size: 1rem;
  color: rgb(10, 33, 23);
  font-weight: 700;
  transition: 0.3s;
}

#content ol li {
  display: block;
  transition: 0.3s;
  list-style-type: 123;
  width: auto;
}

#content ol li:hover {
  display: block;
  /* trasnition: 0.3s; */
  color: rgb(113, 140, 118);
  padding-left: 2vh;
  cursor: pointer;

}

#add_button {
  display: flex;
  align-items: center;
  justify-content: center;
}

#add_button button {
  margin: 2vw 1vw 2vw 1vh;
  height: 3.4rem;
  width: 9rem;
  font-size: 2vh;
  font-family: Arial;
  background-color: rgb(113, 140, 118);
  border: none;
  outline: none;
  color: rgb(10, 33, 23);
  border-radius: 10px;
  transition: 0.3s
}



#add_button button:hover {
  transition: 0.3s;
  margin-left: 2vw;
  margin-right: 2vw;
  transform: scale(1.3);
  cursor: pointer;

}




/* -------------------------------SELECTION--------------------------------*/
/* #up_photo{
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

#up_photo:focus{
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
} */


#selection {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

#selection:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}


#selection {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;

}

#selection:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}


.video_wrapper {}

.full-screen {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.full-screen__body {
  padding: 50px 15px;
  background-color: rgba(0, 0, 0, 0.581);
  position: relative;
  z-index: 2;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;

}

.full-screen__title {
  color: white;
  font-size: 50px;
  letter-spacing: 25px;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
}

.full-screen__text {
  color: white;
  font-size: 18px;
  letter-spacing: 15px;
}

.full-screen__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#user_page_button {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* top ri b l */
#user_page_button button {
  margin: 0vw 0vw 1vw 0vh;
  height: 2rem;
  /* width: 9rem; */
  font-size: 3vh;
  font-family: Arial;
  background-color: rgb(113, 140, 118);
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
  transition: 0.3s
}

#user_page_button button:hover {
  transition: 0.3s;
  margin-left: 2vw;
  margin-right: 2vw;
  transform: scale(1.3);
  cursor: pointer;
}

#another_user_page_button {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* top ri b l */
#another_user_page_button button {
  margin: 0vw 0vw 1vw 0vh;
  height: 2rem;
  /* width: 9rem; */
  font-size: 3vh;
  font-family: Arial;
  background-color: rgb(113, 140, 118);
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
  transition: 0.3s
}

#another_user_page_button button:hover {
  transition: 0.3s;
  margin-left: 2vw;
  margin-right: 2vw;
  transform: scale(1.3);
  cursor: pointer;
}


#another_user_page_button_booked {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* top ri b l */
#another_user_page_button_booked button {
  margin: 0vw 0vw 1vw 0vh;
  height: 2rem;
  /* width: 9rem; */
  font-size: 3vh;
  font-family: Arial;
  background-color: rgb(194, 193, 193);
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
  transition: 0.3s
}

#another_user_page_button_booked button:hover {
  transition: 0.3s;
  margin-left: 2vw;
  margin-right: 2vw;
  transform: scale(1.3);
  cursor: pointer;
}

.navMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover~.dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover~.dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover~.dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover~.dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

/* page buttons */

body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  /* background: linear-gradient(90deg, #e3ffe7 0%, #fcffd9 100%); */
}

.navbtn {
  font-size: 30px;
  padding: .5em 1em;
  background: #fff;
  color: #4A5568;
  border: 0px solid #A0AEC0;
  margin: .1em;
  transition: background .2s ease, color .2s ease, box-shadow .2s ease, transform .2s ease;
  box-shadow: 0 0 0 #BEE3F8;
  transform: translateY(0);
}

button:first-of-type {
  border-radius: .5em 0 0 .5em;
}

button:last-of-type {
  border-radius: 0 .5em .5em 0;
}

button i {
  color: #A0AEC0;
  margin-right: .3em;
  transition: all .2s ease-out;
}

.multi-button:hover button {
  color: #A0AEC0;
}

.multi-button:hover button:hover {
  background: rgb(113, 140, 118);
  color: #fff;
  box-shadow: 0 0 0.8em 0 #577451;
  transform: translateY(-.2em);
}

.multi-button:hover button i {
  color: #CBD5E0;
}

.multi-button:hover button:hover i {
  color: #FED7E2;
  transform: rotate(-10deg);
}

/* my page */
.card {
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.card:before {

  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #b8d88f;
  transform: scaleY(1);
  transition: all 0.5s;
  transform-origin: bottom
}

.card:after {

  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #577451;
  transform: scaleY(0);
  transition: all 0.5s;
  transform-origin: bottom
}

.card:hover::after {
  transform: scaleY(1);
}


.fonts {
  font-size: 11px;
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.social-list li {
  padding: 10px;
  color: #577451;
  font-size: 19px;
}


.buttons button:nth-child(1) {
  border: 1px solid #577451 !important;
  color: #577451;
  height: 40px;
}

.buttons button:nth-child(1):hover {
  border: 1px solid #577451 !important;
  color: #fff;
  height: 40px;
  background-color: #577451;
}

.buttons button:nth-child(2) {
  border: 1px solid #577451 !important;
  background-color: #577451;
  color: #fff;
  height: 40px;
}
